html {
  top: 5px;
  left: 1px;
  
  background: #00003B 0% 0% no-repeat padding-box;
  opacity: 1;

}
  
  a {
    color: rebeccapurple;
  }
.menuitem
{
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
color: gold;
top: 33px;
left: 1016px;
}
.mainhead
{
top: 289px;
left: 404px;
width: 1112px;
height: 464px;
text-align: center;
letter-spacing: 11.1px;
color: #FFFFFF;
opacity: 1;
}