.user {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
  }
  
  .user:last-child {
    margin-bottom: 0;
  }
  
  .avatar {
    flex: 0 0 96px;
    width: 96px;
    height: 96px;
    margin: 0;
  }
  
  .description {
    flex: 1;
    margin-left: 18px;
    padding: 12px;
  }
  
  .username {
    margin: 0 0 12px 0;
    padding: 0;
    color: gold;
  }
  
  .excerpt {
    margin: 0;
  }