.upperbox
{
top: -1px;
left: 1px;
height: 800px;
background: #00003B 0% 0% no-repeat padding-box;
opacity: 1;
color: #FFFFFF; 
}
.belowbox
{
height: 450px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.secbelowbox
{
height: 400px;
background: #00003B 0% 0% no-repeat padding-box;
opacity: 1;
color: #FFFFFF; 
}
.secbelowhead
{
    letter-spacing: 15px;
}
.thirdbelowbox
{
height: 400px;
background: #E6E6E6 0% 0% no-repeat padding-box;
opacity: 1;
color:  #707070; 
}
.menuitem
{
    top: 33px;

height: 30px;
    text-align: center;
    
    font: Regular 21px/103px Core Circus;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    display: inline-block;
    margin-left: 450px;
}
.mainhead
{
top: 289px;
height: 464px;
text-align: center;
font: Core Circus;
font-size: 100px;
letter-spacing: 11.1px;
color: #FFFFFF;
opacity: 1;
}
.menuhead
{
    top: 20px;
    margin-left: 15px;
width: 202px;
height: 56px;
text-align: left;
font: Regular 39px/47px Core Circus;
font-weight: bold;
letter-spacing: 6.5px;
color: #FFFFFF;
opacity: 1;
display: inline-block;
}
table {
    
    width: 100%;
    height:50px 
}
  
  table, th, td {
    border: 0px solid black;
  }
  .tabblue
  {
      width:100%;
      background-color: #00003B;
  }
  .tabfeedback
  {
    width:100%;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    opacity: 1;
    color:   #00003B;
  }
  .tabfeedbacktxth
{
    margin-left: 90px;
    letter-spacing: 15px;
    text-align: justify;
}
.tabfeedbacktxt
{
    margin-left: 90px;
    letter-spacing: 3px;
    text-align: justify;
    color: #707070;
}
  .button {
    background-color:  #00003B;
    border: transparent linear-gradient(90deg, #FCEE1D 0%, #EC2D3D 100%) 0% 0% no-repeat padding-box;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  input {
    font-family: Bookman Old Style;
    width: 80%;
    height:40px;
    box-sizing: border-box;
    background-color: #E6E6E6;
    border: 2px solid #FFFFFF;
}
textarea {
    font-family: Bookman Old Style;
    width: 80%;
    box-sizing: border-box;
    background-color: #E6E6E6;
    border: 2px solid #FFFFFF;
}
.footerstrip
{
height: 25px;
background: #00003B 0% 0% no-repeat padding-box;
opacity: 1;
color: #FFFFFF; 
}

.footerhead1
{
text-align: left;
font: Core Circus;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
display: inline-block;
}

.footeremailphone
{
text-align: left;
letter-spacing: 0;
color: #FFFFFF;
font-size: 12px;
opacity: 1;
display: inline-block;
}

.footeraddress
{
text-align: right;
font-size: 12px;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
}  